@model IEnumerable<Assign1_Salesboard_Zephyr.DBData.Cart>

@{
    ViewData["Title"] = "Checkout";
}

<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<button type="button" class="btn btn-outline-primary btn-lg" asp-action="Checkout" onclick="Confirm()">Checkout</button>

<div class="confirm" id="confirm">
    <div class="confirm-text">
        <p>Ready to Go?</p>
        <button type="button" class="btn btn-primary btn-lg" style="text-align:left;"><a asp-action="Checkout" style="text-decoration:none; color:white;">Confirm Purchase</a></button>
        <button type="button" class="btn btn-danger btn-lg" onclick="Close()" style="text-align:right;">Not Yet</button>
    </div>
</div>

<script>
    function Confirm() {
        document.getElementById("confirm").style.display = "block";
    }

    function Close() {
        document.getElementById("confirm").style.display = "none";
    }
</script>