@model IEnumerable<Assign1_Salesboard_Zephyr.DBData.Cart>

@{
    ViewData["Title"] = "Success";
}

<div class="text-center">
    <h1>Success!</h1>
    <p>
    <p>Thank you</p>
    @if (@ViewBag.UserId != null)
    {
        @ViewBag.Userid
    }
    else
    {
        <p>Awesome Customer</p>
    }

    @if (@ViewBag.Items != null)
    {
        @foreach (var items in @ViewBag.Items)
        {
            <p>for your purchase of @items.itemname</p>
        }
    }
    else
    {
        <p>for shopping with us today!</p>
    }

    </p>
    <a asp-action="Index">Browse</a>
</div>