@model IEnumerable<Assign1_Salesboard_Zephyr.DBData.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.UserId != null)
{
    <h1>My Items For Sale</h1>
}
else
{
    <h1>Browse Items</h1>
}


<p>
    <a asp-action="Create">Create New Listing</a>
</p>
<table class="table" data-role="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Itemname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itemdesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itemimage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Itemname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Itemdesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Itemimage)
                </td>
                <td>
                    @if (ViewBag.UserId == item.UserId)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (ViewBag.UserId != item.UserId)
                    {
                        <a asp-action="Purchase" asp-route-id="@item.Id">| Add to Cart</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
